{% extends "base.html" %}


{% block content %}
<h1>Sign Up</h1>

{% include 'snippets/form_errors.html' %}

<form method='POST'>
    <div>
        <label for='email'>Email</label>
        <input type='email' name='email' placeholder='your@email.com' />
    </div>

    <div>
        <label for='password'>Password</label>
        <input type='password' name='password' placeholder='your password' />
    </div>

    <div>
        <label for='password'>Confirm Password</label>
        <input type='password' name='password_confirm' placeholder='Confirm your password' />
    </div>
    <button type='submit' >sign up </button>
    
</form>

{% endblock %}