<div>
    {% include 'snippets/form_errors.html' %}
    
    <form method='POST' action='/videos/create' hx-post='/videos/create'>
        <div>
            <label for='title'>Title</label>
            <input type='text' name='title' id='title' 
            required='required'
            placeholder='Your Video Title' value="{% if title %}{{ title }}{% endif %}" />
        </div>

        <div>
            <label for='url'>YouTube Link</label>
            <input type='text' name='url' id='url' 
            required='required'
            placeholder='https://www.youtube.com/watch?v=GlDr6aKBtFg' value="{% if url %}{{ url }}{% endif %}" />
        </div>

        <button type='submit' >Add Video</button>
        
    </form>
</div>