<div>
    {% include 'snippets/form_errors.html' %}
    
    <form method='POST' action='/videos/{{ object.host_id }}/edit' hx-post='/videos/{{ object.host_id }}/edit'>
        <div>
            <label for='title'>Title</label>
            <input type='text' name='title' id='title' 
            required='required'
            placeholder='Your Video Title' value="{% if object.title %}{{ object.title }}{% endif %}" />
        </div>

        <div>
            <label for='url'>YouTube Link</label>
            <input type='text' name='url' id='url' 
            required='required'
            placeholder='https://www.youtube.com/watch?v=GlDr6aKBtFg' value="{% if object.url %}{{ object.url }}{% endif %}" />
        </div>

        <button type='submit' >Save Video</button>
        
    </form>
</div>