<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Video Membership{% endblock %}</title>
    </head>
    <body>
        {% include 'snippets/nav.html' %}
        {% block content %}
        <h1>Hello world</h1>
        {% endblock %}
      
        <script>
            var tag = document.createElement("script");
            tag.src ='https://www.youtube.com/iframe_api';
            var firstScriptTag = document.getElementsByTagName("script")[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        </script>

<script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>


    </body>
   
</html>